{% extends "admin/base_site.html" %}
{% load static currency_tag verbose_name position_set %}

{% block title %}Data Import{% endblock %}

{% block page-specific-css %}
  <link rel="stylesheet" href="{% static 'others/spinner.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/chosen.css' %}"/>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'admin:index' %}">
      <i class="ace-icon fa fa-home home-icon"></i>
      Home
    </a>
  </li>
  <li>
    Data Import
  </li>
{% endblock %}

{% block page-header %}
  Data Import
{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="col-md-9">
      <div id="ajax_run_result"></div>

      <div id="loading_icon" class="alert alert-info" role="alert" style="display: none;">
        Importing please wait
        <div id="fadingBarsG" style="float: left; margin: 5px 10px 0 0;">
          <div id="fadingBarsG_1" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_2" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_3" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_4" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_5" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_6" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_7" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_8" class="fadingBarsG">
          </div>
        </div>
      </div>

      <div id="waiting_import" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Waiting for symbol to get start
      </div>

      <div id="error_importing" class="alert alert-danger" style="display: none;">
        <button class="close" type="button" data-dismiss="alert">
          <i class="ace-icon fa fa-exclamation-circle "></i>
        </button>
        <b>Internal Server Error: Please check and debug console...</b>
        <br>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Import Form</div>
        <div class="panel-body">
          <!-- csv symbol select control -->
          <div id="symbol_section">
            <div><label for="symbol">Underlying symbols:</label></div>
            <div><select class="chosen-select form-control" id="symbol"
                    data-placeholder="Choose a Symbol...">
              {% for symbol in symbols %}
                <option value="{{ symbol|lower }}">{{ symbol|upper }}</option>
              {% endfor %}
            </select>
            </div>
          </div>

          <!-- source select control -->
          <div style="padding-top: 10px;"><label for="source">Source from:</label></div>
          <label class="radio-inline"><input type="radio" name="source" value="csv">CSV</label>
          <label class="radio-inline"><input type="radio" name="source" value="web">WEB</label>

          <hr>

          <button id="run_import" class="btn btn-white btn-info btn-bold" type="button">
            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
            Save All
          </button>

          <button id="daily_insert" class="btn btn-white btn-info btn-bold" type="button">
            <i class="ace-icon fa fa-file-text-o bigger-120 blue"></i>
            Daily import
          </button>
        </div>
      </div>

      <div id="symbol_stat"></div>
    </div>
  </div>
{% endblock %}

{% block footer_extra_script %}
  <!-- page specific plugin scripts -->
  <!--[if lte IE 8]>
		  <script src="{% static 'assets/js/excanvas.js' %}"></script>
		<![endif]-->
  <script src="{% static 'assets/js/jquery-ui.custom.js' %}"></script>
  <script src="{% static 'assets/js/chosen.jquery.js' %}"></script>

  <script type="text/javascript">
  // select symbol box
  $(function ($) {
    $("#daily_insert").click(function () {
      $('#error_importing').hide();
      $('#import_success').hide();
      $('#missing_files').hide();
      $('#waiting_import').hide();
      $('#loading_icon').toggle();

      var link = "{% url 'admin:data_daily_import_view' %}";
      $("#ajax_run_result").load(link, function (response, status, xhr) {
        if (status == 'success') {
          $('#import_success').show();
          $('#missing_files').show();

          //var msg = "Sorry but there was an error: ";
          //$("#error").html(msg + xhr.status + " " + xhr.statusText);
          $('#loading_icon').toggle();
        }
        else if (status == "error") {
          $('#loading_icon').toggle();
          $('#error_importing').show();
        }
      });
    });

    $("#symbol").change(function () {
      var symbol_stat = $("#symbol_stat");
      var source = $(".radio-inline input[name=source]:checked").val();
      var symbol = $(this).val();

      $(symbol_stat).hide();
      if (symbol != '') {
        var link = "{% url 'admin:data_symbol_stat_view' %}" + symbol + "/";
        $(symbol_stat).load(link, function (response, status, xhr) {
          if (status == 'success') {
            $("#symbol_stat").show();
          }
        });
      }
    }).val([]);

    $('#run_import').click(function () {
      var source = $(".radio-inline input[name=source]:checked").val();
      var symbol = $("#symbol").val();
      var link = '';
      if (source == 'csv') {
        link = "{% url 'admin:data_tos_thinkback_import_view' %}" + symbol + "/";
      }
      else if (source == 'web') {
        link = "{% url 'admin:data_web_import_view' %}" + symbol + "/";
      }


      // start run
      if (symbol != null && source != undefined) {
        $('#error_importing').hide();
        $('#import_success').hide();
        $('#missing_files').hide();
        $('#waiting_import').hide();
        $('#loading_icon').toggle();

        $("#ajax_run_result").load(link, function (response, status, xhr) {
          if (status == "success") {
            $('#import_success').show();
            $('#missing_files').show();

            //var msg = "Sorry but there was an error: ";
            //$("#error").html(msg + xhr.status + " " + xhr.statusText);
            $('#loading_icon').toggle();
          }
          else if (status == "error") {
            $('#loading_icon').toggle();
            $('#error_importing').show();
          }
        });
      }
      else {
        alert('Please select symbol and source!')
      }
    });

    // select symbol box
    $('.chosen-select').chosen({allow_single_deselect: true});
    $(window)
        .off('resize.chosen')
        .on('resize.chosen', function () {
          $('.chosen-select').each(function () {
            var $this = $(this);
            $this.next().css({'width': $this.parent().width()});
          })
        }).trigger('resize.chosen');
    //resize chosen on sidebar collapse/expand
    $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
      if (event_name != 'sidebar_collapsed') return;
      $('.chosen-select').each(function () {
        var $this = $(this);
        $this.next().css({'width': $this.parent().width()});
      })
    });

  });
  </script>
{% endblock %}