{% load currency_tag verbose_name position_set %}

<table class="table">
  {% for position_forex in position_forexs %}
    {% if forloop.first %}
      <tr>
        <th>{% verbose_name position_forex.forex 'symbol' %}</th>
        <th>Last</th>
        <th>{% verbose_name position_forex 'mark' %}</th>
        <th>{% verbose_name position_forex 'mark_change' %}</th>
        <th>{% verbose_name position_forex 'pl_open' %}</th>
        <th>{% verbose_name position_forex 'pl_day' %}</th>
        <th>Spread</th>
        <th>Strategy</th>
        <th>Stage</th>
        <th>Status</th>
        <th></th>
      </tr>
    {% endif %}
    <tr>
      <td>{{ position_forex.forex.symbol }}</td>
      <td>{% get_old_price position_forex %}</td>
      <td>{{ position_forex.mark|currency }}</td>
      <td>{{ position_forex.mark_change|currency }}</td>
      <td>{{ position_forex.pl_open|currency }}</td>
      <td>{{ position_forex.pl_day|currency }}</td>
      <td>{{ position_forex.position_set.name }}</td>
      <td>{{ position_forex.position_set.spread }}</td>
      <td>
        {% stage position_forex.position_set position_forex.mark %}
      </td>
      <td>
        {% status position_forex.position_set position_forex %}
      </td>
      <td>
        icon_a icon_b
      </td>
    </tr>
  {% endfor %}
</table>