{% load currency_tag verbose_name position_set %}

{% if position_futures %}
  <div class="page-header" style="padding-bottom: 10px;">
    <h1 style="padding-top: 6px;">Position Futures: {{ date }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" id="position_futures_heading">
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <span id="position_futures_search_box"></span>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-purple btn-sm">
                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                Search
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-7">
          <div id="position_futures_filters"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <table id="position_futures" class="table table-striped">
      {% for position_future in position_futures %}
        {% if forloop.first %}
          <thead class="padding-bottom-4" style="height: 40px;">
          <tr>
            <th>{{ position_future.future|verbose_name:"symbol" }}</th>
            <th>Spread</th>
            <th>Strategy</th>
            <th class="hide">Stage</th>
            <th>Stages</th>

            <th>Status</th>
            <th>Last</th>
            <th>{{ position_future|verbose_name:"mark" }}</th>
            <th>{{ position_future|verbose_name:"mark_change" }}</th>
            <th>{{ position_future|verbose_name:"pl_open" }}</th>
            <th>{{ position_future|verbose_name:"pl_day" }}</th>
            <th></th>
          </tr>
          </thead>
        {% endif %}
        <tr>
          <th>
            <a href="{% url 'admin:tos_import_future_change' position_future.future.id %}">
            {{ position_future.future.symbol }}
            </a>
          </th>
          <td>{{ position_future.position_set.name }}</td>
          <td>{{ position_future.position_set.spread }}</td>
          <td class="hide">{% stage position_future.position_set position_future.mark %}</td>
          <td>{% stage_box position_future.position_set position_future.mark %}</td>
          <td>{% status position_future.position_set position_future %}</td>
          <td>{% get_old_price position_future %}</td>
          <td>{{ position_future.mark }}</td>
          <td>{{ position_future.mark_change }}</td>
          <td>{{ position_future.pl_open }}</td>
          <td>{{ position_future.pl_day }}</td>
          <td class="action_column">
            <i class="ace-icon fa fa-cog icon-on-right bigger-130"></i>
            <i class="ace-icon fa fa-tachometer bigger-130"></i>
          </td>
        </tr>
        {% if forloop.last %}
          <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="hide"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>&nbsp;SUM</th>
            <th></th>
            <th></th>
            <td></td>
          </tr>
          </tfoot>
        {% endif %}
      {% endfor %}
    </table>
    <div class="panel-footer" id="position_futures_footer">
    </div>
  </div>
{% endif %}

