{% extends "admin/base_site.html" %}
{% load static currency_tag verbose_name position_set %}

{% block title %}Position spreads: {{ date }}{% endblock %}

{% block extrahead %}
  <!-- jquery ui -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}"/>

  <!-- jquery ui only -->
  <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ui.touch-punch.js' %}"></script>

  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="
    {% static 'datatables-1.10.5/media/js/jquery.dataTables.js' %}"></script>
{% endblock %}

{% block extrastyle %}
  <style>
    label {
      margin-right: 4px;
    }

    thead tr th {
      color: #337ab7;
    }

    thead tr th:hover {
      text-decoration: underline;
    }

    .fix_width {
      width: 20px;
    }

    .purple2, .purple2:hover {
      color: #8678ac;
    }

    .green2, .green2:hover {
      color: #2e8965;
    }

    .spread-fast-action {
      padding-top: 2px;
    }

    .label_fix1 {
      padding-left: 1px;
      padding-right: 5px;
      margin-left: 0;
      margin-right: 2px;
    }

    .label_fix2 {
      padding-left: 1px;
      padding-right: 1px;
      margin-left: 0;
      margin-right: 2px;
    }

  .stage_box_tooltip {
    width: 360px;
    display: none;
    position: absolute;
  }

  .btn-empty {
    color: #f89406;
    padding: 0 6px;
    background-color: transparent;

  }

  .action_column {
    text-align: right;
  }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'admin:statement_position_positionsummary_changelist' %}">
      Position summarys
    </a>
  </li>
  <li>
    Position spreads {{ date }}
  </li>
{% endblock %}

{% block page-header %}
  {% if position_instruments %}
    Position Instruments: {{ date }}
  {% else %}
    Position Spreads: {{ date }}
  {% endif %}
{% endblock %}

{% block page-header-tool %}
  <script type="text/javascript">
  function go_to_previous_page() {
    $(location).attr('href', '{% if previous %}{% url 'admin:position_set_spread_view' previous %}{% endif %}');
  }

  function go_to_next_page() {
    $(location).attr('href', '{% if next %}{% url 'admin:position_set_spread_view' next %}{% endif %}');
  }
  </script>

  <div class="btn-group btn-corner">
    <button class="btn {% if previous == None %}disabled{% endif %} btn-white btn-sm btn-primary"
            onclick="go_to_previous_page()">
      ← Previous
    </button>

    <button class="btn {% if next == None %}disabled{% endif %} btn-white btn-sm btn-primary"
            onclick="go_to_next_page()">
      Next →
    </button>
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
{% if date %}
  {% if position_instruments or position_futures or position_forexs %}
    {% include 'position/spread/instruments.html' %}
    {% include 'position/spread/futures.html' %}
    {% include 'position/spread/forexs.html' %}
  {% else %}
    <div class="alert alert-warning">
      <button class="close" type="button" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
      </button>
      <strong>Date: {{ date }} not found.</strong>
      No position spreads (instrument or future or forex) in this date.
      <br>
    </div>
  {% endif %}
{% else %}
  <div class="alert alert-warning">
    <button class="close" type="button" data-dismiss="alert">
      <i class="ace-icon fa fa-times"></i>
    </button>
    <strong>Empty!</strong>
    No position instrument yet. Please import.
    <br>
  </div>
{% endif %}
</div>
{% endblock %}

{% block footer_extra_script %}
  <script type="text/javascript">
  function getRandomInt() {
    return Math.floor(Math.random() * (10000000));
  }

  function render_stages(data) {
    var stages = data.split('|');
    var result = '';

    $.each(stages, function (key, stage) {
      var label = '';
      var icon = '';
      var items = stage.split(',');
      var last = items.length - 1;
      var custom_id = getRandomInt();

      switch (items[0]) {
        case 'MAX_PROFIT':
          label = 'label-info';
          icon = 'fa-thumbs-up';
          break;
        case 'PROFIT':
          label = 'label-success';
          icon = 'fa-check-square';
          break;
        case 'EVEN':
          label = '';
          icon = 'fa-question-circle';
          break;
        case 'LOSS':
          label = 'label-warning';
          icon = 'fa-exclamation-triangle';
          break;
        case 'MAX_LOSS':
          label = 'label-danger';
          icon = 'fa-times-circle';
          break;
      }

      var icon_box = '<a href="" id="a' + custom_id +'" class="stage_box label '
          + (parseInt(items[last]) ? label + ' label_fix1' : 'label_fix2')
          + '">' + '<i class="fix_width ace-icon fa '+ icon +
          ' icon-only"></i>' + (parseInt(items[last]) ? items[0] : '') + '</a>';

      var output = '<table id="t' + custom_id + '" class="table table-bordered stage_box_tooltip">'
          + '<tr><th>Name</th><td colspan="3">' + items[0] + '</td></tr>'
          + '<tr><th>Expression</th><td colspan="3">' + items[1] + '</td></tr>'
          + '<tr><th>Price A</th><td>' + items[2] + '</td>'
          + '<th>Amount A</th><td>' + items[3] + '</td></tr>';

      if (items.length == 7) {
        output += '<tr><th>Price B</th><td>' + items[4] + '</td>';
        output += '<th>Amount B</th><td>' + items[5] + '</td></tr>';
      }

      output += '</table>';

      result += icon_box;
      result += output;
    });


    return result;
  }

    function render_spread(data) {
      var icon = '';
      switch (data) {
        case 'EQUITY':
          icon = 'fa-line-chart';
          break;
        case 'FUTURE':
          icon = 'fa-bell-o';
          break;
        case 'FOREX':
          icon = 'fa-money';
          break;
        case 'HEDGE':
          icon = 'fa-area-chart';
          break;
        case 'OPTION':
          icon = 'fa-file-text-o';
          break;
        case 'SPREAD':
          icon = 'fa-arrows-alt';
          break;
        default:
          icon = 'fa-question';
          break;
      }

      return '<i class="fix_width ace-icon fa ' + icon
          + ' icon-only" title="' + data + '"></i> ' + data;
    }

    function render_stage(data) {
      var label = '';
      var icon = '';
      switch (data) {
        case 'MAX_PROFIT':
          label = 'label-info';
          icon = 'fa-thumbs-up';
          break;
        case 'PROFIT':
          label = 'label-success';
          icon = 'fa-check-square';
          break;
        case 'EVEN':
          label = '';
          icon = 'fa-question-circle';
          break;
        case 'LOSS':
          label = 'label-warning';
          icon = 'fa-exclamation-triangle';
          break;
        case 'MAX_LOSS':
          label = 'label-danger';
          icon = 'fa-times-circle';
          break;
      }

      return '<span class="label ' + label + '"><i class="ace-icon fa '
          + icon + '"></i> ' + data + '</span>';
    }

    function render_status(data) {
      var label = '';
      switch (data) {
        case 'VANISHING':
        case 'DECREASING':
        case 'LOSING':
        case 'WORST':
          label = 'label-warning';
          break;
        case 'GUARANTEEING':
        case 'PROFITING':
        case 'RECOVERING':
        case 'EASING':
          label = 'label-success ';
          break;
      }

      return '<span class="label ' + label + '  label-white middle">' + data + '</span>';
    }

    function render_decimal2(data) {
      return parseFloat(data).toFixed(2)
    }

    function render_decimal4(data) {
      return parseFloat(data).toFixed(4)
    }

    function render_price_move(data) {
      return (Math.sign(data) > 0 ? '+' : '') + parseFloat(data).toFixed(2)
    }

    function render_strategy(data) {
      return '<i>' + data + '</i>';
    }

    function column_filter(section_id, columns) {
      var render_currency = render_decimal4;
      if (section_id == 'position_instruments') {
        //noinspection JSValidateTypes
        render_currency = render_decimal2;
      }

      $('#' + section_id).DataTable({

        paging: false,

        "columnDefs": [
          { "targets": 1, "render": render_spread},
          { "targets": 2, "render": render_strategy},
          // skip 3 for hidden stage
          { "targets": 4, "render": render_stages},
          { "targets": 5, "render": render_status},
          { "targets": 6, "render": render_currency},
          { "targets": 7, "render": render_currency},
          { "targets": 8, "render": render_price_move},
          { "targets": 9, "render": render_price_move},
          { "targets": 10, "render": render_price_move},
          { "targets": 11, "orderable": false }
        ],

        initComplete: function () {
          var api = this.api();

          //noinspection JSUnresolvedFunction
          api.columns().indexes().flatten().each(function (i) {
            var column = api.column(i);
            var header_text = $(column.header()).text();

            if (columns.indexOf(header_text) > -1) {
              var label = $('<label></label>').appendTo("#" + section_id + "_filters");

              var select = $(
                      '<select class="form-control auto-width search-filter">' +
                      '<option value="">' + header_text + '</option>' +
                      '<option value="">---</option></select>'
              )
                  .appendTo(label)
                  .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );

                    //column.search(val0 ? '^' + val + '$' : '', true, false)
                    //    .draw();
                    if (header_text == 'Spread') {
                      column.search(val ? ' ' + val + '$' : '', true, false).draw();
                    }
                    else {
                      column.search(val ? '^' + val + '$' : '', true, false).draw();
                    }

                    for (var x = 9; x < 11; x++) {
                      var sum = api.column(x, {filter: 'applied'}).data().reduce(function (a, b) {
                        return parseFloat(a) + parseFloat(b);
                      });

                      //console.log(i + ' : ' + sum);
                      // Update footer
                      $(api.column(x).footer()).html(
                          render_price_move(sum)
                      );
                    }
                  });

              column.data().unique().sort().each(function (d) {
                select.append('<option value="' + d + '">' + d + '</option>')
              });
            }
          });
        },
        "fnFooterCallback": function (row, data, start, end, display) {
          var api = this.api();

          for (var x = 9; x < 11; x++) {
            var sum = api.column(x, {filter: 'applied'}).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            });
            // Update footer
            $(api.column(x).footer()).html(
                render_price_move(sum)
            );
          }
        }
      });



      // search field in top
      var filter_field = $("#" + section_id + "_filter");
      $(filter_field).find('input').addClass('form-control search-query')
          .attr("placeholder", "Search")
          .appendTo("#" + section_id + "_search_box");
      $(filter_field).hide();

      var showing_field = $("#" + section_id + "_info");
      $(showing_field).appendTo("#" + section_id + "_footer");

    }

    column_filter(
        'position_instruments',
        ['Spread', 'Strategy', 'Stage', 'Status']
    );

    column_filter(
        'position_futures',
        ['Strategy', 'Status']
    );

    column_filter(
        'position_forexs',
        ['Strategy', 'Status']
    );

    // next or previous page
    $(document).keydown(function (e) {
      switch (e.which) {
        case 37: // left
          {% if previous %}
          go_to_previous_page();
          {% endif %}
          break;

        case 39: // right
          {% if next %}
          go_to_next_page();
          {% endif %}
          break;

        default:
          return; // exit this handler for other keys
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
    });

    // focus search
    //$("#position_instruments_search_box").find("input").focus();



  // stage box tooltip
  $('.stage_box').hover(function () {
    var id = $(this).attr("id");
    id = id.substring(1);
    $('#t' + id).stop(true, true).fadeIn();
  }, function () {
    var id = $(this).attr("id");
    id = id.substring(1);
    $('#t' + id).stop(true, true).fadeOut();
  }).on('mousemove', function (ev) {
    var id = $(this).attr("id");
    id = id.substring(1);

    $('#t' + id).css({
      left: ev.pageX - 200,
      top: ev.pageY - 140
    });
  });
  </script>
{% endblock %}