{% load position_set %}
{% if historical_position_sets %}
  <!--suppress HtmlFormInputWithoutLabel -->
  <table class="table">
  <tr>
    <th>Historical Position Sets:</th>
  </tr>
  <tr>
    <td>
      <select id="historical_position_sets" class="col-xs-12">
        <option value="" selected>{{ position_set.underlying.symbol }} - Historical Position</option>
        <option value="">-----</option>
        {% for historical_position_set in historical_position_sets %}
          <option value="{{ historical_position_set.id }}">
            ({{ historical_position_set.id }})
            {{ historical_position_set.spread|remove_underscore }}
            {{ historical_position_set|get_close_pl|stringformat:"+.2f" }}
          </option>
        {% endfor %}
      </select>
    </td>
  </tr>
  </table>
{% endif %}

<script type="text/javascript">
  $("#historical_position_sets").change(function() {
    if ($(this).val()) {
      $(location).attr('href', "{% url "admin:position_set_profiler_view" %}" + $(this).val());
    }
  });
</script>