{% extends "admin/base_site.html" %}
{% load static currency_tag verbose_name position_set %}

{% block title %}Profiler: {{ position_set }}{% endblock %}

{% block extrahead %}
  <!-- jquery ui -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}"/>

  <!-- jquery ui only -->
  <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ui.touch-punch.js' %}"></script>

  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="
    {% static 'datatables-1.10.5/media/js/jquery.dataTables.js' %}"></script>

  <!-- HighCharts -->
  <script src="{% static 'highcharts-4.1.3/js/highcharts.js' %}"></script>
{% endblock %}

{% block extrastyle %}
  <style>
    .symbol-page-head, .symbol-page-head-helper {
      color: #000000;
    }

    .symbol-page-head-helper {
      font-size: 0.5em;
      padding-top: 4px;
    }

    .price-page-head table {

    }

    .price-page-head table tr th {
      color: #808080;
    }

    .price-page-head table tr td, .price-page-head table tr th {

    }

    caption {
      text-align: center;
      font-weight: bold;
    }

    .close_time {
      font-size: 0.6em;
      color: #808080;
    }

    .price {
      font-size: 36px;
      font-weight: bold;
      padding-right: 10px;

    }

    .change {
      font-size: 28px;
    }

    .label_fix3 {
      padding-left: 2px;
      padding-right: 0;
    }

    .fix_width {
      width: 20px;
    }

    .stage_box_tooltip {
      width: 360px;
      display: none;
      position: absolute;
      background-color: white;
    }

    .label-padtop {
      padding-top: 3px;
    }

    .profiler-content {
      padding: 0;
    }

    .yellow {
      color: #ff9c25;
    }

    .nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
      box-shadow: 0 0 0 0;
      border-bottom: double white 1px;
    }

    .padding10px {
      padding: 20px;
    }

    .table th.no_border_top, .table td.no_border_top {
      border-top: none !important;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'admin:index' %}">
      <i class="ace-icon fa fa-home home-icon"></i>
      Home
    </a>
  </li>
  <li>
    <a href="{% url 'admin:position_positionset_change' position_set.id %}">
      Position Set
    </a>
  </li>
  <li>
    {{ position_set|cut:"PositionSet " }}
  </li>
{% endblock %}

{% block page-header %}
  <div class="row">
  <div class="col-md-8">
    {% include 'position/profiler/symbol_page_head.html' %}
  </div>
  <div class="col-md-4">

  </div>
  </div>


{% endblock %}

{% block content %}
  <div id="content-main">

    <!-- #section:elements.tab.option -->
    <div class="tabbable" style="display: block">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a data-toggle="tab" href="#info">
            <i class="blue ace-icon fa fa-home bigger-120"></i>
            Marks
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#marks">
            <i class="blue ace-icon fa fa-money bigger-120"></i>
            Marks
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#stocks">
            <i class="green ace-icon fa fa-bell bigger-120"></i>
            Stocks
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#movers">
            <i class="yellow ace-icon fa fa-exchange bigger-120"></i>
            Stage Movers
          </a>
        </li>
      </ul>

      <div class="tab-content profiler-content">
        <div id="info" class="tab-pane in padding10px active ">
          <div class="row">
            <div class="col-md-3">
              {% include 'position/profiler/position_info1.html' %}
            </div>
            <div class="col-md-3">
              {% include 'position/profiler/position_info2.html' %}
            </div>
            <div class="col-md-3">
              {% include 'position/profiler/position_stages.html' %}
              {% include 'position/profiler/historical_position_sets.html' %}
            </div>
            <div class="col-md-3">
              {% include 'position/profiler/profiler_object_links.html' %}
            </div>
          </div>
        </div>

        <div id="marks" class="tab-pane in">
          {% include 'position/profiler/position_instruments.html' %}
        </div>

        <div id="stocks" class="tab-pane">
          {% include 'position/profiler/position_stocks.html' %}
        </div>

        <div id="movers" class="tab-pane">
          {% include 'position/profiler/position_stage_mover.html' %}
        </div>
      </div>
    </div>
    <!-- /section:elements.tab.option -->
  </div>





{% endblock %}

{% block footer_extra_script %}

{% endblock %}