<div class="row">
  <div class="col-md-12 right_date_change">
    <div class="btn-group btn-corner">
      <button id="first" class="btn {% if paginator.first == None %}disabled{% endif %} btn-white btn-sm btn-primary">
        <i class="fa fa-step-backward"></i>
        First
      </button>

      <button id="previous" class="btn {% if paginator.previous == None %}disabled{% endif %} btn-white btn-sm btn-primary">
        Previous
      </button>

      <button id="next" class="btn {% if paginator.next == None %}disabled{% endif %} btn-white btn-sm btn-primary">
        Next
      </button>

      <button id="last" class="btn {% if paginator.last == None %}disabled{% endif %} btn-white btn-sm btn-primary">
        Last
        <i class="fa fa-step-forward"></i>
      </button>
    </div>
  </div>

  <script type="text/javascript">
    function go_to_previous_page() {
      {% if paginator.previous %}
        $(location).attr(
            'href',
            "{% url 'admin:position_set_profiler_view' position_set.id paginator.previous %}"
        );
      {% endif %}
    }

    function go_to_next_page() {
      {% if paginator.next %}
        $(location).attr(
            'href',
            "{% url 'admin:position_set_profiler_view' position_set.id paginator.next %}"
        );
      {% endif %}
    }

    $(function () {
      // previous
      $("#previous").click(function () {
        go_to_previous_page();
      });

      // next
      $("#next").click(function () {
        go_to_next_page();
      });

      // first
      $("#first").click(function () {
        {% if paginator.first %}
          $(location).attr(
              'href',
              "{% url 'admin:position_set_profiler_view' position_set.id paginator.first %}"
          );
        {% endif %}
      });

      // last
      $("#last").click(function () {
        {% if paginator.last %}
          $(location).attr(
              'href',
              "{% url 'admin:position_set_profiler_view' position_set.id paginator.last %}"
          );
        {% endif %}
      });
    });

    // next or previous page
    $(document).keydown(function (e) {
      switch (e.which) {
        case 37: // left
          go_to_previous_page();
          break;

        case 39: // right
          go_to_next_page();
          break;

        default:
          return; // exit this handler for other keys
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
    });
  </script>
</div>
