{% load verbose_name currency_tag position_set %}
{% for stage in position_stages %}
  <table id="stage{{ stage.id }}" class="table table-bordered stage_box_tooltip">
    <tr>
      <th>Name</th>
      <td class="stage_name" colspan="3">{{ stage.stage_name }}</td>
    </tr>
    <tr>
      <th>Expression</th>
      <td colspan="3">{{ stage|explain }}</td>
    </tr>
    <tr>
      <th>Price A</th>
      <td>{{ stage.price_a }}</td>
      <th>Amount A</th>
      <td>{{ stage.amount_a }}</td>
    </tr>
    {% if stage.price_b %}
      <tr>
        <th>Price B</th>
        <td>{{ stage.price_b }}</td>
        <th>Amount B</th>
        <td>{{ stage.amount_b }}</td>
      </tr>
    {% endif %}
  </table>
{% endfor %}

<table id="position_stage_mover" class="table table-striped">
  {% for position_stage_mover in position_stage_movers.data %}
    {% if forloop.first %}
      <thead>
        <tr>
          <th>Date</th>
          <th>Close</th>
        {% for key in position_stage_movers.keys %}
          {% if forloop.counter|odd %}
            <th>
              <span class="hide">{{ key|split:0 }}</span>
              {{ key|split:1 }}
            </th>
          {% else %}
            <th class="hide">
              <span class="hide">{{ key|split:0 }}</span>
              {{ key|split:1 }}
            </th>
          {% endif %}

        {% endfor %}
        </tr>
      </thead>
    {% endif %}

    <tr>
      <td>{{ position_stage_mover.date }}</td>
      <td>{{ position_stage_mover.close }}</td>
      {% for key in position_stage_movers.keys %}
        {% if forloop.counter|odd %}
          <td>{{ position_stage_mover|dict_item:key }}</td>
        {% else %}
          <td class="hide">{{ position_stage_mover|dict_item:key }}</td>
        {% endif %}

      {% endfor %}
    </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $('#position_stage_mover').DataTable({
    paging: false,
    searching: false,
    bInfo: false,

    "aoColumnDefs": [
    // result: 1 -> 3 4, 2 -> 5 6, 3 -> 7 8
      {% for stage in position_stages %}
         { "iDataSort": {{ forloop.counter|odd_jump1|add:-1 }}, "aTargets": {{ forloop.counter|odd_jump2|add:-1 }} },
      {% endfor %}
    ],

    "headerCallback": function (thead, data, start, end, display) {
      var count = this.fnSettings().aoColumns.length;

      for (var i = 3; i < count; i+=2) {
        var header = $(thead).find('th').eq(i);

        $(header).hover(function () {
          var id = $(this).find('span').html();
          $('#stage' + id).stop(true, true).fadeIn();
        }, function () {
          var id = $(this).find('span').html();
          $('#stage' + id).stop(true, true).fadeOut();
        }).on('mousemove', function (ev) {
          //console.log($(this).html().split(",")[0]);
          var id = $(this).find('span').html();

          $('#stage' + id).css({
            left: ev.pageX - 380,
            top: ev.pageY - 160
          });
        });

      }
    }
  });
</script>


