<table class="table">
  <tr>
    <th class="no_border_top">Reference Links:</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a href="{% url 'admin:tos_import_underlying_change' position_set.underlying.id %}">
            &#60; {{ position_set.underlying.symbol }} &#62; Underlying
          </a>
        </li>
        <li>
          <a href="{% url 'admin:position_positionset_change' position_set.id %}">
            &#60; {{ position_set.underlying.symbol }} &#62; PositionSet
          </a>
        </li>
        <li>
          <a href="{% url 'admin:position_positionopinion_changelist' %}?q={{ position_set.underlying.symbol }}+{{ position_set.id }}#">
            &#60; {{ position_set.underlying.symbol }} &#62; PositionOpinion
          </a>
        </li>
      </ul>

    </td>
  </tr>
</table>

