.my_style .webix_hcell{
    text-align: right;
    font-weight: bold;
    padding-right: 16px;
}

.my_style .webix_column {
    text-align: right;

}

.my_style .left {
    text-align: left;
}


.spread_view_symbol_ui {
    padding: 10px;

}

.spread_view_symbol_ui .symbol {
    display: block;
    float: right;
    font-size: 1.5em;
}

.spread_view_symbol_ui .status {
    display: block;
}

.spread_view_analysis_ui {

}

.spread_view_analysis_ui .control {
    float: right;
    font-size: 1.5em;
}

.spread_view_analysis_ui .title {
    font-size: 1.5em;
}
