{% load i18n %}
<label>
<select data-name="{{ field_name }}"
        class="form-control auto-width search-filter{% if spec.lookup_val or spec.used_parameters %} active{% endif %}">
  {% for choice in choices %}
    {% if forloop.first %}
      <option value="" onclick="window.location.href='{{ choice.query_string|iriencode }}';">{{ title|capfirst }}</option>
      <option value="">---</option>
    {% else %}
      <option{% if choice.additional %} data-additional="{{ choice.additional }}"{% endif %}
          data-name="{{ choice.name }}"
          value="{{ choice.val }}" {{ choice.selected|yesno:' selected="selected",' }}
          onclick="window.location.href='{{ choice.query_string|iriencode }}';">
        {{ choice.display }}</option>
    {% endif %}
  {% endfor %}
</select>
</label>
