{% load admin_list i18n admin_list_link %}

{% if pagination_required %}
    <ul class="pagination" style="margin: 0">
      <li>
        <a href="{% first_change_link cl %}">
          <i class="ace-icon fa fa-angle-double-left"></i>
        </a>
      </li>

      {% for i in page_range %}
        {% if i == "." %}
          <li>
            <span>{% paginator_number cl i %}</span>
          </li>
        {% else %}
          <li>{% paginator_number cl i %}</li>
        {% endif %}
      {% endfor %}

      <li>
        <a href="{% last_change_link cl %}">
          <i class="ace-icon fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
{% endif %}

