{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>

    {{ form.media }}
{% endblock %}


{% block title %}Import Statement{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'admin:index' %}">Home</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="{% url 'admin:app_list' 'app_pms' %}">App_pms</a>
            <span class="divider">&raquo;</span>
        </li>
        <li class="active">
            Import Statement
        </li>
    </ul>
{% endblock %}


{% block content %}
<div id="content" class="colM row-fluid">
<div id="content-main" class="inner-two-columns">
<form method="post" enctype="multipart/form-data" action="{% url 'admin:statement_import' 0 %}"
      id="import_statement_form" class="form-horizontal">

    <div class="inner-right-column">
        <div class="box save-box">
            <div class="submit-row clearfix">
                <button type="submit" class="btn btn-high btn-info" name="_save">
                    Upload Statements
                </button>
            </div>
        </div>
    </div>

    <div class="inner-center-column">
        {% csrf_token %}
        <div class="tab-content tab-content-main">


            {% if form.errors %}
                <div class="alert alert-error"> Please correct the error below.</div>
            {% endif %}

            {% if statement_id %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                All statements was inserted successfully. To view statements data
                <a href="{% url 'admin:app_pms_statement_change' statement_id %}">click here</a>.
            </div>
            {% endif %}

            <fieldset class="module aligned with-legend">
                <h2 class="legend">Import Statement</h2>

                <div class="control-group form-row field-account_statement ">
                    <div>
                        <div class="control-label">
                            <label>{{ form.date.label }}:</label>
                        </div>
                        <div class="controls">
                            {{ form.date }}
                                <span class="help-inline">
                                    {{ form.date.help_text }}

                                    {% if form.date.errors %}
                                        <ul class="errorlist">
                                            {% for error in form.date.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>

                <div class="control-group form-row field-account_statement ">
                    <div>
                        <div class="control-label">
                            <label>{{ form.account_statement.label }}:</label>
                        </div>
                        <div class="controls">
                            {{ form.account_statement }}
                                <span class="help-inline">
                                    {{ form.account_statement.help_text }}
                                    {% if form.account_statement.errors %}
                                        <ul class="errorlist">
                                            {% for error in form.account_statement.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>

                <div class="control-group form-row field-account_statement ">
                    <div>
                        <div class="control-label">
                            <label>{{ form.position_statement.label }}:</label>
                        </div>
                        <div class="controls">
                            {{ form.position_statement }}
                                <span class="help-inline">
                                    {{ form.position_statement.help_text }}
                                    {% if form.position_statement.errors %}
                                        <ul class="errorlist">
                                            {% for error in form.position_statement.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>

                <div class="control-group form-row field-account_statement ">
                    <div>
                        <div class="control-label">
                            <label>{{ form.trade_activity.label }}:</label>
                        </div>
                        <div class="controls">
                            {{ form.trade_activity }}
                                <span class="help-inline">
                                    {{ form.trade_activity.help_text }}
                                    {% if form.trade_activity.errors %}
                                        <ul class="errorlist">
                                            {% for error in form.trade_activity.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>


    </div>

</form>
</div></div>
{% endblock %}

