<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'pic/font-awesome/css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/webix/webix.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/webix/webix.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    <script type="text/javascript" src="{% url 'base_webix_js' %}"></script>
    <script type="text/javascript" src="{% url 'base_logic_js' %}"></script>

    {% block head_js %}
    {% endblock %}

    <title>Rivers - {% block title %}{% endblock %}</title>
</head>
<body>

{% block body %}
{% endblock %}

<script type="text/javascript">
var current_path = "{{ current_path }}";
{% if default_path %}
    current_path = "{{ default_path }}";
{% endif %}

webix.ready(function(){
    //webix.ui(ui_header);
    webix.ui(ui_body);
    //webix.ui(ui_footer);
    logic.init();
});


</script>

</body>
</html>
