{% extends "admin/base_site.html" %}
{% load i18n admin_static dict_lookup %}

{% block title %}Models{% endblock %}

{% block extrastyle %}
  <style>
    .panel-blue .panel-heading {
      color: #ffffff;
      font-weight: bold;
      /*background-color: #6fb3e0;*/
      background-color: #438eb9;
    }

    .panel-blue .toolbar {
      float: right;
    }

    .icon-white {
      color: #ffffff;
    }

    .app_label_name {
      border-left: solid 3px grey;
      font-weight: bold;
      background-color: #f8f8ff;
    }

  </style>
{% endblock %}


{% block breadcrumbs %}
{% endblock %}

{% block page-header %}Models{% endblock %}

{% block content %}
  {% for app_parent in app_parent_list %}
    <div class="main-container">
      <div class="panel panel-default panel-blue">
        <div class="panel-heading">
          {{ app_parent.label }}

          <div class="toolbar">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ app_parent.name }}"
               aria-expanded="true" aria-controls="{{ app_parent.name }}">
              <i class="ace-icon fa fa-chevron-up icon-white"></i>
            </a>
          </div>
        </div>
        <div id="{{ app_parent.name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {% for app in app_parent.child %}
              <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item app_label_name">
                    {{ app_label_list|get_item:app|upper }}
                  </li>

                  {% for module in module_list %}
                    {% if module.app_parent == app_parent.name and module.app == app %}
                      <a href="{{ module.url }}" class="menu-item list-group-item">
                        <i class="ace-icon fa fa-table bigger-110 icon-only"></i>
                        {{ module.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}

          </div>
        </div>

      </div>

    </div>
  {% endfor %}


{% endblock %}