{% extends "admin/base_site.html" %}
{% load static currency_tag verbose_name position_set %}

{% block title %}TosThinkBack CSV Import{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'others/spinner.css' %}" type="text/css">
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'admin:index' %}">
      <i class="ace-icon fa fa-home home-icon"></i>
      Home
    </a>
  </li>
  <li>
    TosThinkBack CSV Import
  </li>
{% endblock %}

{% block page-header %}
  TosThinkBack CSV Import
{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="col-md-9">
      <div id="ajax_run_result"></div>

      <div id="loading_icon" class="alert alert-info" role="alert" style="display: none;">
        Importing please wait
        <div id="fadingBarsG" style="float: left; margin: 5px 10px 0 0;">
          <div id="fadingBarsG_1" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_2" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_3" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_4" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_5" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_6" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_7" class="fadingBarsG">
          </div>
          <div id="fadingBarsG_8" class="fadingBarsG">
          </div>
        </div>

      </div>

      <div id="waiting_import" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Waiting for symbol to get start
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Import Form</div>
        <div class="panel-body">
          <label for="symbol">Please select:</label>
          <select id="symbol" class="form-control">
            <option value="">Symbol</option>
            <option value="">---</option>
            {% for symbol in symbols %}
              <option value="{{ symbol|lower }}">{{ symbol|upper }}</option>
            {% endfor %}
          </select>
          <hr>
          <button id="run_import" class="btn btn-white btn-info btn-bold" name="_save" type="button">
            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
            Save All
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_extra_script %}
  <script type="text/javascript">
    $('#run_import').click(function () {
      var symbol = $('#symbol').val();
      if (symbol != '') {
        $('#waiting_import').hide();
        $('#import_success').hide();
        $('#missing_files').hide();
        $('#loading_icon').toggle();

        // console.log("{% url 'admin:tos_thinkback_import_run_view' %}" + symbol + "/");
        $("#ajax_run_result").load(
            "{% url 'admin:tos_thinkback_import_run_view' %}" + symbol + "/", function (response, status, xhr) {
              if (status == "success") {
                $('#import_success').show();
                $('#missing_files').show();

                //var msg = "Sorry but there was an error: ";
                //$("#error").html(msg + xhr.status + " " + xhr.statusText);
                $('#loading_icon').toggle();
              }
            });
      }
    });
  </script>
{% endblock %}